h1 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

footer {
  margin:auto;
  
}

#credit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em;
  text-align: center;
}

a:link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  color: darkgray;
}
a:hover {
  color: black;
  text-shadow: 2px 2px 2px black;
}
a.return {
  font-size: 0.5em;
}


#title {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
}

#daily {
  max-width: 500px;
  
}
