body {
  max-width: 600px;
}

#header {
  margin: 50px 100px;
  width: 400px;
}

h1 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

#title {
  margin-bottom: 0;
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  margin: 50px;
}
#intro {
  margin: 200px;
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  margin-top: 20px;
}

#credit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em;
  text-align: center;
}

a:link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  color: darkgray;
}
a:visited {
  color: darkgray;
}
a:hover {
  color: black;
  text-shadow: 0px 0px 2px black;
}

a.return {
  font-size: 0.75em;
}


#title {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
}

#daily {
  max-width: 500px;
  
}
